.buy-form__root {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

.buy-form__actions {
    text-align: right;
}

.buy-form__actions > button:first-child {
    margin-right: 25px;
}

.buy-form__actions > button:last-child {
    background-color: rebeccapurple;
    color: #FFFFFF;
}

@media (min-width: 960px) {
    .buy-form__root section {
        margin-bottom: 75px;
    }
}

@media (max-width: 959px) {
    input, textarea, button {
        border: 1px solid gray;
    }

    .buy-form__root section {
        margin-bottom: 50px;
    }
}
