.buy-form__root {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

.buy-form__root input, .buy-form__root textarea, .buy-form__root button {
    border: 1px solid #D3D3D3;
}

.buy-form__root section {
    margin-top: 50px;
}

.buy-form__actions {
    text-align: center;
}

.buy-form__actions > button {
    cursor: pointer;
    outline: none;
    padding: 5px 0;
}

.buy-form__actions > button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buy-form__actions > button:first-child {
    background-color: #FFFFFF;
    color: #04091e;
    margin-right: 2%;
}

.buy-form__actions > button:last-child {
    background-color: #04091e;
    color: #FFFFFF;
    margin-left: 2%;
}

@media (min-width: 960px) {
    .buy-form__fields > div {
        display: inline-block;
        width: 48%;
    }

    .buy-form__fields > div:last-child {
        float: right;
    }

    .buy-form__actions > button {
        width: 140px;
    }
}

@media (max-width: 959px) {
    .buy-form__actions > button {
        max-width: 150px;
        width: 48%;
    }
}
