.buy-form__root {
    padding: 80px 0 0 0;
}

.buy-form__root input, .buy-form__root textarea, .buy-form__root button {
    border: 1px solid #D3D3D3;
}

.buy-form__root section {
    margin-top: 50px;
}

.buy-form__actions {
    text-align: center;
}

.buy-form__actions > button {
    cursor: pointer;
    outline: none;
    padding: 5px 0;
}

.buy-form__actions > button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buy-form__actions > button:first-child {
    background-color: #FFFFFF;
    color: #04091e;
    margin-right: 2%;
}

.buy-form__actions > button:last-child {
    background-color: #04091e;
    color: #FFFFFF;
    margin-left: 2%;
}

@media (min-width: 960px) {
    .buy-form__fields > div {
        display: inline-block;
        width: 48%;
    }

    .buy-form__fields > div:last-child {
        float: right;
    }

    .buy-form__actions > button {
        width: 200px;
    }
}

@media (min-width: 450px) and (max-width: 959px) {
    .buy-form__actions > button {
        max-width: 200px;
        width: 48%;
    }
}

@media (max-width: 449px) {
    .buy-form__actions {
        display: flex;
        flex-direction: column;
    }

    .buy-form__actions > button {
        height: 50px;
        margin: 0;
        width: 100%;
    }

    .buy-form__actions > button:first-child {
        margin: 0;
        order: 2;
    }

    .buy-form__actions > button:last-child {
        margin: 0 0 20px 0;
        order: 1;
    }
}
