.footer {
    background-color: rebeccapurple;
    height: 50px;
    margin-top: -50px;
}

.footer > div {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
}

@media (min-width: 960px) {
    .footer > div {
        line-height: 50px;
    }
}

@media (max-width: 959px) {
    .footer > div {
        line-height: 25px;
    }
}
