.home__root {
    background-image: url('https://www.bmw.ca/content/dam/bmw/marketCA/bmw_ca/images/ImagesToReorder/Home/BMW_2018-330i-Desktop_Dec2017.jpeg');
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    padding: 80px 80px 110px 80px;
}

.home__content {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    text-align: center;
}

.home__contact {
    color: rebeccapurple;
    text-decoration: none;
}

.home__link {
    background-color: rebeccapurple;
    border-radius: 50px;
    bottom: -23px;
    color: #FFFFFF;
    left: calc(50% - 101px);
    padding: 13px 20px 17px 20px;
    position: absolute;
    text-decoration: none;
}

.home__link > div {
    background-color: #FFFFFF;
    display: inline-block;
    height: 10px;
    position: relative;
    width: 2px;
}

.home__link > div:first-child {
    left: 4px;
    top: 4px;
    transform: rotate(45deg);
}

.home__link > div:nth-child(2) {
    left: 2px;
    top: -2px;
    transform: rotate(-45deg);
}

.home__link > span {
    margin-left: 15px;
}

@media (min-width: 960px) {
    .home__root {
        margin-bottom: 50px;
        padding: 80px 80px 110px 80px;
    }

    .home__content {
        padding: 50px;
    }
}

@media (max-width: 959px) {
    .home__root {
        margin-bottom: 0;
        padding: 15px 15px 35px 15px;
    }

    .home__content {
        padding: 25px;
    }
}
